.border{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.left{
    outline: 1px solid black;
    margin: 2em;
    padding: 1em 3em;
    width: 30em;
}
.left input{
    width: 100%;
}
.output{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.yes{
    outline: 2px solid black;
    width: 35em;
    padding: 0.5em;
}